.tabs {
  display: flex;
  padding: 10px;
  background-color: rgba(white, 0.25);
  border-radius: 12px;
  gap: 14px;
  backdrop-filter: blur(3px);
  margin: 50px 12px 12px 12px;
  
  .tab-title {
    cursor: pointer;
    display: flex;
    padding: 18px;
    border-radius: 10px;

    i {
      color: #222;
      z-index: 100;
    }
  }

  a {
    text-decoration: none;
  }
}

.tab {
  position: relative;
  transition: all .2s;
  .bookmarks-tab {
    background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
  }

  .todos-tab {
    background: linear-gradient(45deg, #a2ffff, #ffbdde);
  }

  .notes-tab {
    background: linear-gradient(45deg, #d2cdff, #5fffbc);
  }
}

.tab:hover {
  transform: scale(1.07);
}