<div class="tabs">
  <a class="tab" routerLink="bookmarks" routerLinkActive="selected">
    <div class="tab-title bookmarks-tab">
      <i class="material-icons-outlined">bookmarks</i>
    </div>
  </a>

  <a class="tab" routerLink="todos" routerLinkActive="selected">
    <div class="tab-title todos-tab">
      <i class="material-icons-outlined">check</i>
    </div>
  </a>

  <a class="tab" routerLink="notes" routerLinkActive="selected">
    <div class="tab-title notes-tab">
      <i class="material-icons-outlined">notes</i>
    </div>
  </a>
</div>